.bg-dark {
  background-color: #212529 !important;
}

.bg-translucent {
  backdrop-filter: blur(10px);
}

.nav-item {
  margin: 0 10px;
}

#hero {
  background-image: url("assets/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 2000px #0006;
  width: 100%;
  height: 100vh;
}

#hero-heading {
  position: relative;
  top: 35vh;
}

.container-fluid {
  width: 100%;
  height: 100vh;
}

.container-text {
  font-size: 1.2rem;
}

.hr {
  height: 1px;
  color: #fff !important;
}
